body{
	margin: 0;
}

.navbar{
	margin-bottom: 5px !important;
}

.header{

}
.logo{
	width: 160px;
	height: 100px;
	float: right;

}

.filterLabel{
	display: inline;
	padding-left: 10px;
	padding-right: 2px;
}

.navbar-form .form-control{
	width: 250px !important;
}

.tile {
	background-color: #dddddd;
	border-left: 20px solid #ffffff;
	color: #000000;
	cursor: pointer;
	display: inline-block;
	height: 130px;
	margin-bottom: 10px;
	padding: 6px 8px 6px 8px;
	position: relative;
	width: 230px;
	overflow: auto;
        }

.tileDetail{

}
hr {
    margin-top: 5px !important;
    margin-bottom: 10px !important;
}

.tileTitle{
	font-size: 175%;
	text-align: center;
	padding-top: 3px;
}

.pageTitle{
	text-align: center;
}

.col-sm-2 {
    width: 16.66666667%;
}

textarea {
	/*width: 500px;*/
	height: 500px !important;
	resize: none;
}


/* Dropdowns on Summary Page */
.styled-select {
   /* background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0; */
   height: 29px;
   overflow: hidden;
   width: 125px;
   color: white;
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

.blue    { background-color: #337ab7; }

