<div class="header">
	<h1 class="pageTitle"> {{ pageTitle }} </h1>
</div>

	<!-- Navigation Bar -->
	<nav class="navbar navbar-default">
	  	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-right navbar-form">
			Sort by
				<div class="btn-group">
					<label class="btn btn-primary" ng-model="order" uib-btn-radio="'CAP'">Alphabetical</label>
					<label class="btn btn-primary" ng-model="order" uib-btn-radio="'Status'">Status</label>
				</div>
			</div>
			<div class="navbar-header">
			<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  			
		  			<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
			  				<input type="text" class="form-control" placeholder="Search" ng-model="search_box">
			  			<!-- <input type="text" class="form-control" placeholder="Order By" ng-model="order"> -->
						</div>
		  			</form>
				</div>
			</div>
	  	</div><!-- /.container-fluid -->
	</nav>
	

	<div class="btn-group" uib-dropdown is-open="status.isopen">
	  <!-- <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
		Year <span class="caret"></span>
	  </button> -->
	  <!-- <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
		<li ng-repeat="tile in tiles | unique:'Week'"><a href="#">{{tile.Week}}</a></li>
	  </ul> -->
	  <div class="filterLabel"> Filter </div>
	  <select class="styled-select blue semi-square" ng-options="tile.Week as 'Week '+tile.Week for tile in tiles | unique:'Week'" ng-model="weekfilter"></select>
	  <select class="styled-select blue semi-square" ng-options="tile.Week as 'Week '+tile.Week for tile in tiles | unique:'Week'" ng-model="workstream"></select>
	  <select class="styled-select blue semi-square" ng-options="tile.Week as 'Week '+tile.Week for tile in tiles | unique:'Week'" ng-model="monitor"></select>
	</div>
	<hr>
	<div class="tiles">
		<div class="tile" ng-repeat="tile in tiles | filter:search_box | filter:{Week:weekfilter} | orderBy:order" ng-click="goToDetail(tile.CAP)" >
			<div class="tileTitle" ng-style="{'color': tile.Status}"> 
				{{ tile.CAP }}
			</div>
		<div class="tileDetail">
			{{ tile.Deficiency }}	
		</div>
	</div>
</div>
	