h4{
	padding-bottom: 10px;
}

.nav{
	margin-bottom: 10px;
}

/*#number-metrics{
	border:1px solid #9ce;
}*/
.task{
	padding-right: 0px !important;
}

.col-xs-10{
	padding-left: 30px;
}

.submit-row {
	margin-top: 20px;
}
.save-button {
	margin-left: 15px;
}

.location-input-container {
	position: relative;
	margin-top: 35px;
}
.error-rate-input {
	margin-top: 20px;
}
.error-message {
	position: absolute;
    top: 0;
    left: 350px;
    width: 250px;
    color: red;
}
.location-input-container i {
	position: absolute;
	left: 170px;
    width: 250px;
	color: green;
}
hr {
	margin-left: -50px;
}
hr.first {
	margin-left: 0px !important;
}