.slideout-menu {
	position: absolute;
    left: calc(-350px + 50px);
    top: 0px;
    width:350px;
    height: 100%;
    background-color: rgba(255,255,255,.9);
    border-right: 1px solid #e6e7e8;
    z-index: 1;

    -webkit-transition: left .2s ease;
    transition: left .2s ease;
}
.slideout-menu.hint {
	left: calc(-350px + 60px);

	-webkit-transition: left .2s ease;
    transition: left .2s ease;
}
.slideout-menu.show, .slideout-menu.show.hint {
	left: 50px;

	-webkit-transition: left .2s ease;
    transition: left .2s ease;
}

.slideout-menu #slideout-menu-close {
    position: relative;
    top: 15px;
    left: 310px;
    padding-bottom: 15px;

    font-size: 18px;
    color: rgba(0,0,0,.3);
}


.sidebar-container {
	background-color: #f2f2f2;
	border-right: 1px solid #e6e7e8;

	position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 100%;

    z-index: 10;
}

.sidebar-container hr {
    margin: 0;
    padding: 0;

    border: 1px solid;
}

#sidebar-back {
    position: relative;

    height: 50px;
    width: 50px;

    font-size: 18px;

    transform: scale(0,1);
    -webkit-transition: transform .2s ease;
    transition: transform .2s ease;
}
#sidebar-back.show {
    transform: scale(1,1);
}
#sidebar-back i {
    position: absolute;

    top: 15px;
    left: 20px;
    /*padding-top: 15px;*/
    /*margin-bottom: 15px;*/
    /*margin-left: 20px;*/
}