<!-- Title Header -->
<div class="header">
	<h1 class="page-title"> {{ dsc.pageTitle }} </h1>
</div>

<!-- Navigation Bar -->
<nav class="navbar navbar-default">
  	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-right navbar-form">
			Sort by
			<div class="btn-group">
				<label class="btn btn-primary" ng-model="dsc.order" uib-btn-radio="'CAP'">Alphabetical</label>
				<label class="btn btn-primary" ng-model="dsc.order" uib-btn-radio="'Status'">Status</label>
			</div>
		</div>
		<div class="navbar-header">
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  			
	  			<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
		  				<input type="text" class="form-control" placeholder="Search" ng-model="dsc.search_box">
					</div>
	  			</form>
			</div>
		</div>
  	</div>
</nav>

<!-- Filter Bar -->
<div class="btn-group">
  <div class="filter-label"> Filter </div>

  <select class="styled-select blue semi-square" ng-options="tile.Week as 'Week '+tile.Week for tile in dsc.tiles | unique:'Week'" ng-model="dsc.weekfilter"></select>

  <select class="styled-select blue semi-square" ng-options="tile.Week as 'Week '+tile.Week for tile in dsc.tiles | unique:'Week'" ng-model="dsc.workstream"></select>

  <select class="styled-select blue semi-square" ng-options="tile.Week as 'Week '+tile.Week for tile in dsc.tiles | unique:'Week'" ng-model="dsc.monitor"></select>
</div>

<hr>

<!-- Main Content -->
<div class="tiles">
	<div class="tile" ng-repeat="tile in dsc.tiles | filter:dsc.search_box | filter:{Week:dsc.weekfilter} | orderBy:dsc.order" ng-click="dsc.goToDetail(tile.CAP)" >
		<div class="tile-detail">
			{{ tile.Deficiency }}	
		</div>
		<div class="tile-title" ng-style="{'background-color': tile.Status}"> 
			{{ tile.CAP }}
		</div>
	</div>
</div>
	