.tiles {
	/*margin-top: 50px;*/
	/*padding-left: 57.5px;
	padding-right: 57.5px;*/
}
.tile {
	position: relative;
	display: inline-block;

	cursor: pointer;

	width: 280px;
	height: 50px;
	max-height: 50px;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 10px;

	overflow: hidden;

	transform: scale(1,1);
	-webkit-transition: transform .5s ease;
	transition: transform .5s ease;
}
.tile.zoom {
	-webkit-transition: transform .5s ease;
	transition: transform .5s ease;
	transform: scale(1.1,1.1);
}

.tile div {
	/*display: inline-block;*/
	display: table;
}
.tile-detail {
	max-width: 300px;
	max-height: 50px;
	padding-right: 70px;

	font-size: 12px;
	text-align: right;
	overflow-y: hidden;

	float: right;
}
.tile-detail p {
	width: 200px;
	height: 100%;
}

.tile-title {
	position: absolute;
	top: 0%;
	right: 0%;

	color: #FFF;;
	width: 50px;
	height: 50px;
	font-size: 175%;
	text-align: center;
	padding-top: 8px;
}
/*.tile-title.Green { background-color: #84C068; }
.tile-title.Yellow { background-color: #F78D49; }
.tile-title.Red { background-color: #C92E25; }*/

.tile-title.Green { background-color: #39B54A; }
.tile-title.Yellow { background-color: #F1B434; }
.tile-title.Red { background-color: #E35205; }
