<div class="header">
	<h1 class="page-title">CAP Number Priorities {{dsc.rsc.search}}</h1>
</div>

<div class="tiles">
	<div class="tile" ng-repeat="tile in dsc.tiles | filter:dsc.rsc.search | filter:{Week:dsc.rsc.weekfilter} | orderBy:dsc.rsc.order track by $index" ng-click="dsc.goToDetail(tile.CAP)" ng-mouseenter="dsc.hovered_tile = $index" ng-mouseleave="dsc.hovered_tile = undefined" ng-class="{'zoom': dsc.hovered_tile === $index}">
		<div class="tile-detail">
			<p>{{ tile.Deficiency }}</p>
		</div>
		<div class="tile-title" ng-class="tile.Status"> 
			{{ tile.CAP }}
		</div>
	</div>
</div>
